:root {
  background-color: #222222;
}

.nav-container {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center; /*centers the flex-items along cross axis*/
  background-color: #df1160;
  height: 10vh;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40vw;
}

.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}


.main-content {
  color: white;
  padding: 50px 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.connection {
   display: inline-flex;
  align-items: center;
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-info button{
  background-color: #df1160;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-color: white;
}

.user-info button:focus,
.user-info button:hover {
  background-color: #b80a4c;
}