:root {
  background-color: #222222;
}

body{
  display: flex;
  flex-direction: column;
}
.footer {
  width: 100%; 
  padding: 5px;
  margin: 0;
  background-color: #df1160;
  text-align: center;
  
}

.nav-container {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center; /*centers the flex-items along cross axis*/
  background-color: #df1160;
  height: 10vh;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40vw;
}

.navLink {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease; 
}

.navLink:focus,
.navLink:hover{
transform: scale(1.1); 
color:white; 
}


.main-content {
  color: white;
  padding: 50px 50px;
  margin-bottom: 5px;
  flex: 1; 
  min-height: calc(100vh - 10vh - 71px);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease; 
}

.logo a:hover,
.logo a:focus{
  transform: scale(1.1);
  color: white;
}

.connection {
   display: inline-flex;
  align-items: center;
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.user-info button{
  background-color: #df1160;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-color: white;
}

.user-info button:focus,
.user-info button:hover {
  background-color: #b80a4c;
}