.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  max-width: 300px;
.login-form {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
}

.form-field input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: rgb(248, 199, 207);
  margin-bottom: 4%;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}


.form-field {
  margin-bottom: 10px;
}

input:focus,
input:hover {
  box-shadow: 0 0 5px #df1160;
  border: 2px solid #df1160;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-submit {
  width: 80%;
  height: 50px;
  background-color: #df1160;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.btn-submit:focus,
.btn-submit:hover {
  background-color: #b80a4c;
}
