.game-page {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-template-areas:
    "results dices"
    "results roll-btn";
}

.results {
  grid-area: results;
  
  background-color: #FFB2B2;
  padding: 10px;
  border-radius: 6px;

  table {
    border-collapse: collapse;
    table-layout: fixed;

    th {
      padding: 6px 10px;
      text-align: center;
    }

    td {
      text-align: center;
      padding: 10px;
    }

    th, td {
      min-width: 120px;
      max-width: 120px;
      text-overflow: clip;
      overflow: hidden;
      white-space: nowrap;
    }

    th:first-child,
    td:first-child {
      border-right: 1px solid #000000;
      min-width: 80px;
      max-width: 80px;
    }

    tbody tr:not(:last-child) td {
      border-bottom: 1px solid #000000;
    }

    tbody tr:first-child td {
      border-top: 1px solid #000000;
    }
  }
}

.dices {
  grid-area: dices;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #DF1160;
  border-radius: 6px;
  padding: 10px 40px;

  img {
    width: 45px;
    height: 45px;
  }
}

.roll-btn {
  grid-area: roll-btn;
  background-color: #DF1160;
  border: none;
  color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    filter: grayscale(5%);
  }

  &[disabled] {
    filter: grayscale(35%);
    cursor: not-allowed;
  }
}

.win-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  padding: 25px;
}

@media (max-width: 768px) {
  .game-layout {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "dices dices"
      "results roll-btn";
  }
}