.rules-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;

}

.rules-list-box{
    padding: 20px;
width:380px;
height:380px;
background-color: #FFB2B2;
border-radius: 15px;
color: black;
}


.attention-box img{
    float: left;
    
    margin-right: 20px;
}

.btn-goback{
 width: 50%;
  height: 60px;
  background-color: #df1160;
  border-radius: 10px;
  font-size: 36px;
  cursor: pointer;
}



.btn-goback:focus,
.btn-goback:hover {
  background-color: #b80a4c;
}